Flask
Flask-SQLAlchemy
flask_cors
scipy
pyyaml
pandas
requests
python-docx
pyreadstat
python-pptx
openpyxl
natsort
ptvsd
streamlit
gspread 
gspread-dataframe 
oauth2client
langchain
langchain-anthropic
langchain_community==0.2.6
python-dotenv
openai==0.28
chromadb==0.4.17
tokenizers==0.13.3
psycopg2-binary
firebase-admin
flask-executor
flask_jwt_extended
argon2-cffi==20.1.0
pdf2image 
PyPDF2
pytesseract
Pillow
pdfminer.six
reportlab
pdfplumber
python-bidi
pytest==8.4.2